<div class="row">
  <div class="col">
    <div class="fs-4">Work Experience<i class="bi bi-gear ms-2"></i></div>
  </div>
  <div class="col text-end">
    <button
      class="btn btn-secondary text-align-middle"
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#addWorkModal"
    >
      <i class="bi bi-plus-square me-2"></i>
      Add
    </button>
  </div>
</div>
<table id="table_work" class="table table-striped" style="width: 100%">
  <thead>
    <tr>
      <th style="min-width: 250px">Name</th>
      <th style="min-width: 200px" class="text-start">Indrustry</th>
      <th style="min-width: 150px" class="text-center">Role</th>
      <th style="min-width: 100px" class="text-center">Date In</th>
      <th style="min-width: 100px" class="text-center">Date Out</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <!- - - ->{% for i in work %}<!- - - ->
    <tr>
      <td class="align-middle">{{ i.company_nm }}</td>
      <td class="align-middle">{{ i.industry }}</td>
      <td class="text-center align-middle">{{ i.role }}</td>
      <td class="text-center align-middle">{{ i.date_in|date:"M Y" }}</td>
      <td class="text-center align-middle">{{ i.date_out|date:"M Y" }}</td>
      <td class="text-center align-middle">
        <a
          href="{% url 'web:person_delete_work_by_id' person.person_id i.id %}"
          class="btn btn-danger"
          ><i class="bi bi-trash"></i
        ></a>
      </td>
    </tr>
    <!- - - ->{% endfor %}<!- - - ->
  </tbody>
</table>
