<a
  class="btn btn-warning ms-2"
  href="{% url 'web:person_edit_by_id' person.person_id %}"
  ><i class="bi bi-pencil-square me-2"></i>Edit
</a>
<button
  type="button"
  class="btn btn-danger ms-2"
  data-bs-toggle="modal"
  data-bs-target="#deleteByIdModal"
>
  <i class="bi bi-trash me-2"></i>Delete
</button>

<!-- modal delete_by_id -->
<div
  class="modal fade"
  id="deleteByIdModal"
  tabindex="-1"
  aria-labelledby="deleteByIdModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteByIdModalLabel">Warning</h5>
      </div>
      <div class="modal-body">Do you want to delete this Person ?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          No
        </button>
        <a
          href="{% url 'web:person_detele_by_id' person.person_id %}"
          class="btn btn-danger"
        >
          Yes
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /modal delete_by_id -->
